
/*universal*/

html{
    background-color: black;
    font-family: Verdana;
}

header{
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2{
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

#download{
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

p{
    text-align: center;
}

#subtitulo{
    font-family: verdana;
    font-size: 21px;
    color:gray;
}

footer{
    text-align: right;
    color: purple;
}